.form-inquiry{
   width: 100%;
   margin: 0 15px 15px;

   &__message{
       margin: 0 0 20px;
       
       label{
        display: block;
        margin: 0 0 8px;
        font-size: 2rem;
        font-weight: normal;
       }

       input{
           width: 100%;
           margin: 0;
           padding: 10px;
           font-size: 15px;
           border: none;
           box-shadow: 0 0 1px rgba(0,0,0,0.35);
           box-sizing: border-box;
           border-radius: 4px;
       }
   }
}