.modal{
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    z-index: 5;
    padding-top: 30px;

    @mixin atSmall{
        display: flex;
        padding-top: 0;
    }

    &--is-visible{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    

    &__inner {
        flex: 1;
        margin: auto;
    }

    &__pull-left{
        text-align: left;
    }

    &__subtitle{
        font-weight: 200;
        font-size: 1.8rem;
    }

    &__skill_title{
        margin: 40px 0 0 0;
    }

    &__container {
        width: 100%;
        background-color: #ddd;
      }
      
    &__skills {
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
      }
      
    &__html {width: 90%; background-color: #4CAF50;}
    &__css {width: 90%; background-color: #2196F3;}
    &__js {width: 65%; background-color: #f44336;}
    &__php {width: 70%; background-color: #808080;}
    &__mobile {width: 85%; background-color: #f38327;}
    &__photo {width: 85%; background-color: #9717ff;}
    &__java {width: 50%; background-color: #9aff17;}


    &__form{

        fieldset{
            border: none;
            margin: 0 0 20px;
            padding: 0.5em 0 0 0;
        }

        input, textarea{
            background-color: #fff;
            padding: 10px;
            width: 100%;
            margin: 0;
            border: none;
            font-size: 15px;
        }

        textarea{
            height: 120px;

            @mixin atSmaller{
                height: 200px;
            }
        }

        button{
            padding: 10px;
            color: rgba(0,0,0,0.32);
            font-size: 15px;
            width: 100%;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 10px;

            @mixin atSmall{
                float: left;
                width: 50%;
            }

            &:hover{
                color: rgba(0,0,0,0.40);

                @mixin atSmall{
                    border: 1px solid rgba(0,0,0,0.32);
                }
                
            }
        }


    }

    &__title{
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: left;
        font-size: 18px;

        @mixin atSmall{
            font-size: 22px;
            margin-top: 15px;
            margin-bottom: 20px;
        }

    }

    &__close{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.5rem;
        cursor: pointer;
        color: rgba(0,0,0,0.32);
        transform: scaleX(1.2);
        transform-origin: 100% 0;

        @mixin atSmall{
            font-size: 2rem;
        }

        &:hover{
            color: rgba(0,0,0,0.50);
        }
        
    }
}


