.shots{

    &__lightbox{
        position: fixed;
        z-index: 1000;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        display: none;
    }
    
    &__lightbox.active{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__lightbox img{
        max-width: 90%;
        max-height: 80%;
        padding: 4px;
        background-color: black;
        border: 2px solid white;
    }

    &__image{
        border: 1px solid rgba(0,0,0,.2);
        height: auto;
        width: 100%;

        @mixin atSmall{
         height: 230px; 
        }
    }
   
}

